<h1>Salon</h1>
<h2>Change Stylist Name</h2>
<form action="/stylists/@Model.GetId()/newname" method="post">
  <label for="name">Stylist Name:</label>
  <input id="new-item" name="NewName" type="text">
  <button type="submit">Submit</button>
</form>
