<h1>Salon</h1>
<h2>@Model.GetName() Clients</h2>
<ul>
  @foreach(var client in Model.GetClients())
  {
    <li>Client: <a href="/clients/@client.GetId()">@client.GetName()</a></li>
  }
</ul>

<p><a href='/stylists/@Model.GetId()/new'>Add Client</a></p>
<a href='/stylists/@Model.GetId()/delete'>Delete Stylist</a>
<a href='/stylists/new'>Add another Stylist</a>
<a href='/stylists'>View all Stylists</a>
