<h1>@Model.GetName()</h1>
<h4><a href='/stylists/@Model.GetId()/update-desc'>Edit</a></h4>
<h4><a href='/stylists/@Model.GetId()/delete'>Delete</a></h4>

<a href='/stylists/new'>Add another item</a>
<a href='/stylists'>View all items</a>
