<h1>Hair Salon</h1>
<ul>
  @foreach(var stylist in Model)
  {
    <li><a href='/stylists/@stylist.GetId()'>@stylist.GetName()</a></li>
  }
</ul>

<p>
<a href="/stylists/new">Add Stylist</a>
</p>
<form action="/stylists/delete" method="post">
  <button type="submit" name="button">Delete All Stylists</button>
</form>
<p>
  <a href="/clients/">Client List</a>
</p>
