@using HairSalon.Models;
<h1>Salon</h1>
<h2>Add Stylist</h2>
<form action="/specialties/@Model/add-stylist" method="post">
  <select name="stylistId">
    @foreach(Stylist tempStylist in Stylist.GetAll())
    {
       <option value=@tempStylist.GetId()>@tempStylist.GetName()</option>
    }
  </select>
  <button type="submit" value="Submit">Submit</button>
</form>
