<h1>Salon</h1>
<h2>Add Specialty</h2>
<form action="/specialties" method="post">
  <label for="name">Specialty:</label>
  <input id="new-item" name="name" type="text">
  <button type="submit">Submit</button>
</form>
