<h1>Salon</h1>
<h2>@Model.GetSpecialty()</h2>

<ul>
@* <li>Stylist: <a href="/stylists/@Model.GetStylistId()">@Model.GetStylistName()</a></li> *@
</ul>

<a href='/specialties/@Model.GetId()/delete'>Delete Specialty</a>
<br />
<a href='/specialties'>Back</a>
