<h1>Welcome to the Hair Salon!</h1>
<p><a href='/'>Home</a></p>



<ul>
  @foreach(var client in Model)
  {
  <li><a href='/clients/@client.GetId()'>@client.GetName()</a></li>
  }
</ul>

<form action="/clients/delete" method="post">
  <button type="submit" name="button">Delete All Clients</button>
</form>
